<html lang="en">
  <head>
    <title>ZURL-CКАЧИВАЙ САЙТЫ БЕЗ ОГРАНИЧЕНИЯ</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="ZURL-Сервис для скачивания сайта и просмотра его в оффлайн режиме.Скачивай абсолютно бесплатно и редактируй скаченный сайт на свой вкус, заменяя исходных код или картинки.
@ Сайте не несет ответственность за нарушение авторских прав, которые вы могли нарушить воспользовавшись нашим сервисом">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- favicon (png) -->
    <link rel="icon" href="./images/favicon.ico" type="image/x-png">
    <!-- google fonts -->
    <link href="css/css.css" rel="stylesheet" type="text/css">
    <!-- css files -->
    <link rel="stylesheet" href="css/materialdesignicons.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/barr.css">
    <link rel="stylesheet" href="css/demo.css">
  </head>
<body>
 {{{body}}}
</body>
</html>
