<!-- preloader -->
<div id="page-loader">
<div class="loader-bg"></div>
<div class="loader-container">
<div class="shape"></div>
<div class="shape"></div>
</div>
</div>
<!-- /preloader -->
<!-- page -->
<div class="slideshow" id="page" data-slides="./images/demo/demo-01.jpg">
<div id="overlay"></div>
<!-- header -->
<header id="header">
<div class="wrapper">
<!-- logo -->
<div id="logo"><a href=""><img src="images/logo.png" alt="ZURL"></a></div>
<!-- /logo -->
</div>
</header>
<!-- /header -->
<!-- navigation -->
<nav id="main-nav">
<ul>
<li><a class="active" href="#home">ГЛАВНАЯ</a></li>
<li><a href="#about">API</a></li>
<li><a href="#our-team">ИНСТРУКЦИЯ</a></li>
<li><a href="#contacts">КОНТАКТЫ</a></li>
</ul>
</nav>
<!-- /navigation -->
<!-- home section -->
<section class="active" id="home">
<div class="container">
<div class="container-inner">
<div class="wrapper">
<div class="home-texts">
<div class="home-texts-inner">
<h3 class="greeting-subheader">ТЕБЯ ПРИВЕТСТВУЕТ</h3>
<h1 class="greeting-header">ZURL</h1>

<p class="greeting-message">Скачивай сайты для просмотра их в оффлайн режиме, а так же редактируй их на свой вкус.@Сайте не несет ответственность за нарушение авторских прав, которые вы могли нарушить воспользовавшись нашим сервисом</p>
<!-- subscribe form -->
<div class="subscribe-form-wrapper">   
<div class="gifload">  
<p class="status"><p> 
<p class="btn_load"><p>
<p class="btn_exit"><p>                                    
<p class="gifimg">
<!-- Loading square for squar.red network -->
<span class="loader"><span class="loader-inner"></span></span>
</p>
</div>

<form  id="subscribe-form" name="subscribe-form">
<div class="subscribe-form-info"></div>
<div class="subscribe-form-inner">
<div class="subscribe-form-field">
<input type="text" name="email" id="subscribe-form-email" placeholder="Введите URL сайта..." autocomplete="off">
</div>
<div class="subscribe-form-submit">
<button type="button" onclick="sendurl()" name="submit" id="subscribe-form-submit">СКАЧАТЬ
</button>
</div>
</div>
</form>
</div>

<!-- /subscribe form -->
<!-- social-icons -->
<ul id="social-icons">
<li><a href="https://vk.com/clientikshow"><i class="mdi mdi-web"></i></a></li>
</ul>
<!-- /social-icons -->
</div>
</div>
</div>
</div>
</div>
</section>
<!-- /home section -->
<!-- about us -->
<section id="about">
<div class="container">
<div class="container-inner">
<div class="wrapper">
<!-- section title-->
<h6 class="section-sub-title"><i class="mdi mdi-image-filter-hdr" style="color:#2f98e1"></i>
</h6>
<!-- /section title-->
<!-- section subtitle-->
<h3 class="section-title">API
</h3>
<!-- /section subtitle-->
<!-- section description-->
<div class="section-description"><strong>ZURL</strong> имеет свой API для интеграции сервиса скачивания в ваши программы и интерфейсы.
</div>
<!-- /section description-->
<div class="services-outer">
<div class="row services-list owl-carousel">
<!-- services list -->

<!-- item 1 -->
<div class="service-item col-3">
<div class="service-item-inner">
<div class="service-item-icon"><i class="mdi mdi-shape-outline"></i></div>
<div class="service-item-caption">
<div class="service-item-title">Modern <br> Design
</div>
<div class="service-item-description">Vestibulum fermentum magna lacus, vulputate dapibus arcu mollis a. Aliquam tristique nunc in ipsum varius aliquam.
</div>
</div>
</div>
</div>

<!-- /item 1 -->

<!-- item 2 -->
<div class="service-item col-3">
<div class="service-item-inner">
<div class="service-item-icon"><i class="mdi mdi-diamond"></i></div>
<div class="service-item-caption">
<div class="service-item-title">Pixel <br> Perfect
</div>
<div class="service-item-description">Suspendisse in sollicitudin dui, at pretium dui. Ut in eros non arcu viverra aliquam. In sagittis ac sem scelerisque.
</div>
</div>
</div>
</div>

<!-- /item 2 -->

<!-- item 3 -->
<div class="service-item col-3">
<div class="service-item-inner">
<div class="service-item-icon"><i class="mdi mdi-invert-colors"></i></div>
<div class="service-item-caption">
<div class="service-item-title">Color <br> Variations
</div>
<div class="service-item-description">Maecenas pellentesque cursus erat sed suscipit. Nunc et mauris eu neque viverra imperdiet massa aliquet non.
</div>
</div>
</div>
</div>

<!-- /item 3 -->

<!-- item 4 -->
<div class="service-item col-3">
<div class="service-item-inner">
<div class="service-item-icon"><i class="mdi mdi-tablet-ipad"></i></div>
<div class="service-item-caption">
<div class="service-item-title">Touch <br> Friendly
</div>
<div class="service-item-description">Donec eu mi pretium, bibendum nisi ut, tempus nibh. Etiam mollis quis urna vel egestas ex nec vulputate.
</div>
</div>
</div>
</div>

<!-- /item 4 -->

<!-- item 5 -->
<div class="service-item col-3">
<div class="service-item-inner">
<div class="service-item-icon"><i class="mdi mdi-code-braces"></i></div>
<div class="service-item-caption">
<div class="service-item-title">Valid <br> Markup
</div>
<div class="service-item-description">Nulla posuere, tortor in ultrices aliquet, nisi neque feugiat diam, non rutrum orci erat sit amet id leo at est diam. 
</div>
</div>
</div>
</div>

<!-- /item 5 -->

<!-- item 6 -->
<div class="service-item col-3">
<div class="service-item-inner">
<div class="service-item-icon"><i class="mdi mdi-content-cut"></i></div>
<div class="service-item-caption">
<div class="service-item-title">Easy <br> Editable
</div>
<div class="service-item-description">Phasellus in egestas risus. Suspendisse eget malesuada nisi. Morbi vel nulla eu est dictum convallis ac et turpis.
</div>
</div>
</div>
</div>

<!-- /item 6 -->

<!-- item 7 -->
<div class="service-item col-3">
<div class="service-item-inner">
<div class="service-item-icon"><i class="mdi mdi-shield-outline"></i></div>
<div class="service-item-caption">
<div class="service-item-title">Great <br> Support
</div>
<div class="service-item-description">Suspendisse sit amet tincidunt mi. Ut porta, purus in congue lacinia, at faucibus enim nibh vitae lobortis malesuada.
</div>
</div>
</div>
</div>

<!-- /item 7 -->

<!-- item 8 -->
<div class="service-item col-3">
<div class="service-item-inner">
<div class="service-item-icon"><i class="mdi mdi-heart-outline"></i></div>
<div class="service-item-caption">
<div class="service-item-title">Crafted <br> With Love
</div>
<div class="service-item-description">Curabitur hendrerit ac massa vel hendrerit. Integer nec porta justo. Vivamus non diam at erat blandit luctus.
</div>
</div>
</div>
</div>

<!-- /item 8 -->
<!-- /services list -->
</div>
</div>
</div>
</div>
</div>
</section>
<!-- /about us -->
<!-- our team -->
<section id="our-team">
<div class="container">
<div class="container-inner">
<div class="wrapper">
<!-- section title-->
<h6 class="section-sub-title">JUST DO IT!
</h6>
<!-- /section title-->
<!-- section subtitle-->
<h3 class="section-title">Инструкция
</h3>
<!-- /section subtitle-->
<!-- section description-->
<div class="section-description">Для тех кто хочет научиться пользоваться нашим сервисом, но это врят ли поможет ему...
</div>
<!-- /section description-->
<!-- team list -->
<div class="team-outer">
<div class="row team-list owl-carousel">

<!-- item 1 -->
<div class="team-item col-3 animateIt" data-effect="fade" data-delay="100">
<div class="team-item-inner">
<div class="team-item-image"><img src="images/team-01.png" alt="Ronald Howell"></div>
<div class="team-item-caption">
<div class="team-item-title">Ronald Howell
</div>
<div class="team-item-sub-title">Senior Editor
</div>
<div class="team-item-description">Duis at gravida leo. Cras ultricies sollicitudin efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
</div>
</div>
</div>
</div>

<!-- /item 1 -->

<!-- item 2 -->
<div class="team-item col-3 animateIt" data-effect="fade" data-delay="200">
<div class="team-item-inner">
<div class="team-item-image"><img src="images/team-02.png" alt="Joe Baker"></div>
<div class="team-item-caption">
<div class="team-item-title">Joe Baker
</div>
<div class="team-item-sub-title">Marketing Assistant
</div>
<div class="team-item-description">Vestibulum vulputate ligula sit amet porttitor varius. Nulla sit amet nunc sit amet orci iaculis commodo quis odio, donec varius.
</div>
</div>
</div>
</div>    

<!-- /item 2 -->

<!-- item 3 -->
<div class="team-item col-3 animateIt" data-effect="fade" data-delay="300">
<div class="team-item-inner">
<div class="team-item-image"><img src="images/team-03.png" alt="Cheryl Roberts"></div>
<div class="team-item-caption">
<div class="team-item-title">Cheryl Roberts
</div>
<div class="team-item-sub-title">Chief Design Engineer
</div>
<div class="team-item-description">In placerat venenatis mi, nec vehicula mi rutrum fermentum. Cras luctus arcu. Quisque congue efficitur congue magna.
</div>
</div>
</div>
</div>

<!-- /item 3 -->

<!-- item 4 -->
<div class="team-item col-3 animateIt" data-effect="fade" data-delay="400">
<div class="team-item-inner">
<div class="team-item-image"><img src="images/team-04.png" alt="Doris Dunn"></div>
<div class="team-item-caption">
<div class="team-item-title">Doris Dunn
</div>
<div class="team-item-sub-title">Design Engineer
</div>
<div class="team-item-description">Integer consectetur tincidunt mi ac commodo. Vivamus consectetur id lorem vel cursus. Sed vel ante mi. In in gravida sud a velit.
</div>
</div>
</div>
</div>

<!-- /item 4 -->

<!-- item 5 -->
<div class="team-item col-3 animateIt" data-effect="fade" data-delay="400">
<div class="team-item-inner">
<div class="team-item-image"><img src="images/team-05.png" alt="Craig Snyder"></div>
<div class="team-item-caption">
<div class="team-item-title">Craig Snyder
</div>
<div class="team-item-sub-title">Developer II
</div>
<div class="team-item-description">Nam finibus elit et ornare dignissim. Duis tincidunt malesuada sagittis. Curabitur faucibus interdum urna ut mattis amet congue.
</div>
</div>
</div>
</div>

<!-- /item 5 -->

<!-- item 6 -->
<div class="team-item col-3 animateIt" data-effect="fade" data-delay="300">
<div class="team-item-inner">
<div class="team-item-image"><img src="images/team-06.png" alt="Scott Ferguson"></div>
<div class="team-item-caption">
<div class="team-item-title">Scott Ferguson
</div>
<div class="team-item-sub-title">Project Manager
</div>
<div class="team-item-description">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc in libero nisi egestas.
</div>
</div>
</div>
</div>

<!-- /item 6 -->
</div>
</div>
<!-- /team list -->
</div>
</div>
</div>
</section>
<!-- /our team -->
<!-- contacts -->
<section id="contacts">
<div class="container">
<div class="container-inner">
<div class="wrapper">
<!-- section title-->
<h6 class="section-sub-title">Я МОГУ В КОД
</h6>
<!-- /section title-->
<!-- section subtitle-->
<h3 class="section-title">РАЗРАБОТЧИКИ
</h3>
<!-- /section subtitle-->
<!-- section description-->
<div class="section-description">Имена тех пацанов чьи руки были приложены к созданию этого сайта.
</div>
<!-- /section description
-->
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- /contacts -->
</div>
<!-- /page -->
<!-- js files -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/global.js"></script>
